table, th, td{
    border: 1px solid black;
}
#tab1 .titulotab{
    background-color: green;
}
#tab1 .cor{
    background-color: rgb(189, 255, 189);
}
#tab2 .titulotab{
    background-color: rgb(78, 77, 77);
}
#tab2 .cor{
    background-color: rgb(151, 151, 151);
}
#tab2 .cor2{
    background-color: rgb(0, 0, 0);
}
#tab2{
    color: white;
}
#tab2{
    background-color: black;
}
#tab3 .titulotab{
    background-color: rgb(65, 84, 123);
}
#tab3 .cor{
    background-color: rgb(102, 142, 182);
}
#tab3 .cor2{
    background-color: rgb(230, 247, 255);
}