body {
    font-family: Arial, sans-serif;
    margin: 40px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.linha {
    display: flex;
    gap: 20px;
    width: 100%;
}

.caixa-pequena {
    width: 100px;
    height: 100px;
    background-color: green;
}

.caixa-media {
    width: 300px;
    height: 100px;
    background-color: green;
}

.caixa-grande {
    width: 100px;
    height: 300px;
    background-color: green;
}

.espaco {
    height: 40px;
    width: 100%;
}