body{
    padding-top: 10px;
    background-color: rgb(153, 199, 214);
    background-image: url("imagens/gato.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 350px;
    min-height: 764px;
}
.s1{
    background-color: rgb(234, 129, 129);
}
.s2{
    background-color: rgb(74, 74, 74);
    color: rgb(0, 0, 141);
    background-image: url("imagens/gato.png");
    background-repeat: repeat;
    background-size: 30px;
}
.s3{
    background-color: rgba(107, 197, 107, 0.512);
}