.vd1{
    background-color: rgb(118, 241, 118);
}
.vd2{
    background-color: rgb(28, 138, 28);
}
.vd3{
    background-color: rgb(5, 94, 5);
}
.vm1{
    background-color: rgb(130, 22, 22);
}
.vm2{
    background-color: rgb(210, 16, 16);
}
.vm3{
    background-color: rgb(69, 8, 8);
}
div{
    padding-bottom: 10px;
}