body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.box {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.box p {
    margin: 0;
}

.abel {
    background-color: #add8e6;
    color: #000;
}

.abel h2, .abel p {
    font-family: 'Abel', sans-serif;
}

.borel {
    background-color: #ffb6c1;
    color: #000;
}

.borel h2, .borel p {
    font-family: 'Borel', cursive;
    font-style: italic;
}

.crimson-text {
    background-color: #90ee90;
    color: #000;
}

.crimson-text h2, .crimson-text p {
    font-family: 'Crimson Text', serif;
    font-style: italic;
}

.handjet {
    background-color: #d3d3d3;
    color: #000;
}

.handjet h2, .handjet p {
    font-family: 'Handjet', cursive;
}

.roboto-slab {
    background-color: #ffa07a;
    color: #000;
}

.roboto-slab h2, .roboto-slab p {
    font-family: 'Roboto Slab', serif;
}

span{
    color: #ff0000;
}