section img {
    width: 200px;
    height: auto;
}

section img:hover {
    opacity: 0.8;
}

#a {
    background-color: rgb(1, 73, 1);
}

#b {
    background-color: rgb(1, 73, 1);
    opacity: 0.8;
}

#c {
    background-color: rgb(1, 73, 1);
    opacity: 0.6;
}

#d {
    background-color: rgb(1, 73, 1);
    opacity: 0.4;
}

#e {
    background-color: rgb(1, 73, 1);
    opacity: 0.2;
}

#f {
    background-color: rgba(1, 73, 1, 0.8);
}

#g {
    background-color: rgba(1, 73, 1, 0.6);
}

#h {
    background-color: rgba(1, 73, 1, 0.4);
}

#i {
    background-color: rgba(1, 73, 1, 0.2);
}