body{
    background-color: #fbeac9;
    color: #d25456;
    font-family: 'Courier New', monospace;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.container {
    display: flex;
    justify-content: center;  
    gap: 10px;                
    padding: 10px;
}

.imagem {
    flex: 1;
    max-width: 33%;          
}

.imagem img {
    width: 100%;              
    height: auto;             
    display: block;
    border: 2px solid #ddd;  
}