body{
    background-color: #d1e1fa;
    color: #1f4069;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container {
    display: flex;
    justify-content: center;  
    gap: 10px;                
    padding: 10px;
}

.imagem {
    flex: 1;
    max-width: 33%;          
}

.imagem img {
    width: 100%;              
    height: auto;             
    display: block;
    border: 2px solid #ddd;  
}