h1{
    background-color: gray;
}
.s1{
    background-color: lightgreen;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.ss1{
    background-color: rgb(116, 172, 227);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.s123{
    background-color: lightgreen;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 11px;
}
.s321{
    background-color: rgb(116, 172, 227);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 11px;
}
.s12{
    text-align: center;
}
.ss12{
    text-align: center;
}
.ss11{
    text-decoration: underline;
}
.s11{
    text-decoration: underline;
}
.s{
    background-color: rgb(209, 235, 244);
    border: 55px;
}
.s2{
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
}
.c1{
    color: rgb(209, 112, 112);
} 
.c2{
    color: rgb(129, 129, 209);
}
.c3{
    color: rgb(196, 196, 139);
}
.e{
    text-align: left;
}
.d{
    text-align: right;
}
.c{
    text-align: center;
}
.o{
    text-align: justify;
}
.d1{
    text-decoration: line-through;
}
.d2{
    text-decoration: underline;
}
.t1{
    text-transform: capitalize;
}
.t2{
    text-transform: uppercase;
}
.i1{
    text-indent: 64px;
}
.i2{
    text-indent: 128px;
}
.e1{
    line-height: 15px;
}
.e2{
    line-height: 25px;
}
.e3{
    line-height: 35px;
}
.f1{
    font-family: "Times New Roman", Times, serif;
}
.f2{
    font-family: Arial, sans-serif;
}
.f3{
    font-family: Verdana, sans-serif;
}
.f4{
    font-family: 'Brush Script MT', cursive;
}
.f5{
    font-family: 'Courier New', monospace;
}
.t{
    font-style: italic;
}
.n{
    font-weight: bold;
}
.ta1{
    font-size: 15px;
}
.ta2{
    font-size: 20px;
}
.ta3{
    font-size: 27px;
}
.ta4{
    font-size: 35px;
}
.ta5{
    font-size: 40px;
}
body{
    padding: 0.5vw 3vw;
    background-image: url("imagens/escrita.jpg");
}